---
layout: default
---

<div class="home">
  <section class="intro">
    <p><strong>PyDiff</strong> holds monthly meetups in Cardiff for anyone who uses or wants to learn about <a href="http://python.org">Python</a>. Everyone is welcome, from experienced programmers to new learners, wherever their interest lies.</p>

    </section>

    <p>We hold technical talks and workshops and occasional social events. We're also involved in a number of international Python/Django software community conferences -  we've recently held:

      <ul>
        <li><a href="http://djangoweekend.org">Django Weekend Cardiff 2014</a></li>
        <li><a href="http://python-namibia.org">Python Nambia 2015</a></li>
        <li><a href="http://2015.djangocon.eu">DjangoCon Europe 2015</a></li>
      </ul>

      and we were involved in <a href="http://na.pycon.org/">PyCon Namibia 2016</a> in February, while <a href="http://pyconuk.org">PyCon UK</a> will come to Cardiff in September 2016.</p>
  

  <h1 class="page-heading">Forthcoming events</h1>

  {% capture current_date %} {{ 'now' | date: '%s'}} {% endcapture %}

  <ul class="post-list">
    {% for event in site.events %}

      {% capture event_date %} {{ event.when | date: '%s'}} {% endcapture %}

      {% if event_date >= current_date %}
          <li>

              <a class="post-link" href="{{ event.url | prepend: site.baseurl }}">{{ event.title }}</a>
              <span class="post-meta">{{ event.when | date: "%b %-d, %Y" }} {{event.time}}</span>
                {% if event.venue %}
                  at <span class="post-meta">{{ event.venue }}</span>
                {% endif %}
          </li>
      {% endif %}

    {% endfor %}
  </ul>


<!--   <h1 class="page-heading">News</h1>

  <ul class="post-list">
    {% for post in site.posts %}

      {% capture post_date %} {{ post.date | date: '%s'}} {% endcapture %}

          <li>

              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          </li>

    {% endfor %}
  </ul> -->



</div>
