---
layout: page
title: News
permalink: /news/
order: 50
---

<div class="home">

    {% for post in site.posts %}

      <header class="post-header">
        <h1 class="post-title">{{ post.title }}</h1>
        <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }} {% if post.author %} • {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}
        {% if post.venue %}
        • <span class="post-meta">{{ post.venue }}</span>
        {% endif %}
        </p>
      </header>

      <article class="post-content">
        {{ post.content }}
      </article>

    {% endfor %}

</div>