---
layout: page
title: Past events
permalink: /past/
order: 50
---

<div class="home">

  {% capture current_date %} {{ 'now' | date: '%s'}} {% endcapture %}

  <ul class="post-list">
    {% for post in site.events %}

      {% capture post_date %} {{ post.date | date: '%s'}} {% endcapture %}

      {% if post_date < current_date %}
          <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }} {{post.time}}</span>
            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
          </li>
      {% endif %}

    {% endfor %}
  </ul>

</div>
